* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #262e36;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #6e757c;
  line-height: 1;
  background-color: white;
  padding-bottom: 30px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-size: 16px;
  display: inline-block;
  min-width: 100px;
  background-color: transparent;
  padding: 20px 40px;
  border-radius: 15px;
  color: #6e757c;
  border: 1px solid currentColor;
  outline: none;
  cursor: pointer;
  line-height: normal;
}
.btn--primary {
  color: #fff;
  background-color: #579aff;
}
.btn--link {
  border: 1px solid transparent;
  transition: all 0.3s linear;
}
.btn--link:hover {
  color: #579aff;
}

.section-title {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #6e757c;
  padding: 10px;
  text-transform: uppercase;
  background-color: #fff;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 100%;
  padding: 0 30px;
  border-bottom: 1px solid #579aff;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 30px;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-img {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}
.card-title {
  margin-bottom: 30px;
  line-height: normal;
  font-size: 20px;
}
.card-desc {
  color: #6e757c;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: normal;
}

hr {
  background-color: #f3f3fe;
  height: 1px;
  border: 0;
}

.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
}
.header-logo {
  padding-right: 125px;
  display: block;
}
.header-menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.header-menu-item:not(:last-child) {
  margin-right: 75px;
}
.header-menu-link {
  color: #262e36;
  transition: all 0.3s ease;
}
.header-menu-link:hover {
  color: #579aff;
}
.header-auth {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  align-items: center;
  margin-top: 65px;
}
.banner-content {
  width: 40%;
  margin-right: 20px;
}
.banner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
  color: #262e36;
}
.banner-desc {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 50px;
}
.banner-button + a {
  margin-right: 30px;
}

.work {
  margin-top: 130px;
  text-align: center;
}
.work-title {
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  color: #262e36;
  max-width: 350px;
  margin: 30px auto 0 auto;
}
.work-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.work-item {
  width: calc((100% - 140px) / 3);
}

.pricing {
  margin-top: 130px;
}
.pricing-title {
  margin-top: 20px;
  font-size: 60px;
  max-width: 380px;
  text-align: center;
  margin: 20px auto;
  line-height: normal;
}
.pricing-list {
  display: flex;
  justify-content: space-between;
}
.pricing-item {
  width: calc((100% - 80px) / 3);
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 60px 20px;
  box-shadow: 1px 1px rgb(237, 233, 233);
}
.pricing-plan {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}
.pricing-price {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}
.pricing-desc {
  margin-top: 30px;
  font-size: 20px;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
